@font-face {
  font-family: virat;
  src: url(../../public/fonts/zacbelx-medium.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
.image-container-homepage img {
  width: 100%;
  height: auto;
}
.image-container-homepage {
  position: relative;
  z-index: 0;
  font-family: virat;
}
.homepage-image-text {
  font-family: virat;
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
  line-height: 30px;
  font-size: 20px;
}
.homepage-image-text::after {
  content: "";
  position: absolute;
  top: -30%;
  left: 15%;
  transform: translateX(-50%);
  width: 40%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
.homapage-headtext {
  padding: 40px 50px;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
.homepage-headtext-p {
  font-size: 75px;
  font-family: "Libre Baskerville", serif;
}
.homepage-headtext-button {
  display: flex;
  align-items: center;
  gap: 10px;
}
.homepage-headtext-content {
  text-align: center;
  color: #f75825;
  cursor: pointer;
  display: flex;
  width: 120px;
  align-items: center;
  gap: 3px;
  background-color: white;
  padding: 10px 10px;
  outline: 2px solid #f75825;
}
.circular-button {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #f75825;
  border-radius: 50%;
}
.transpirant .homepage-headtext-content {
  background-color: rgba(255, 255, 255, 0.5) !important;
  outline: 2px solid white;
  color: white;
  outline: 1px solid white;
  width: 140px;
}
.transpirant .circular-button {
  background-color: rgba(255, 255, 255, 0.5);
  outline: 2px solid white;
}
.homepage-headtext-content p {
  font-size: 20px;
  font-weight: bold;
  font-family: virat;
}
.homepage-headtext-icon {
  font-size: 35px;
  color: white;
}

/* ----- About Section Style */

.about-us-section,
.testimonila-section {
  position: relative;
  margin: 40px 0px;
}
.about-us-section .about-background-img,
.testimonila-section .about-background-img {
  width: 100%;
}
.about-section-content,
.testimonial-section-content {
  position: absolute;
  top: 0;
  left: 0;
}
.about-heading-img {
  height: 40px;
  width: 35px;
}
.about-section-content,
.testimonial-section-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
  justify-content: space-between;
}
.about-heading,
.testimonila-heading {
  display: flex;
  align-items: center;
  font-size: 45px;
  color: white;
  gap: 20px;
}
.about-content-part {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.about-content-heading {
  font-size: 80px;
  font-family: "Libre Baskerville", serif;
  color: white;
  width: 35%;
}
.about-content-text {
  font-family: virat;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-content-text p {
  text-align: left;
  width: 700px;
  line-height: 30px;
  font-size: 24px;
}

/* ----service page style---- */

.our-services-section {
  margin: 100px 50px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.our-services-headings-part {
  display: flex;
  align-items: self-start;
}
.our-services-headings-part div {
  width: 50%;
}
.service-heading {
  font-size: 45px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.out-service-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.out-service-content .service-content-heading {
  width: 100%;
  font-size: 75px;
  font-weight: 600;
}
.out-service-content p {
  font-family: virat;
  font-weight: 500;
  font-size: 18px;
}
.services-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
.service-brand-scroller {
  display: flex;
}
.brand-scroller-head {
  font-size: 90px;
  font-weight: bold;
}
.brand-line {
  width: 1px;
  background-color: black;
}

/* ---- Testimonial style ---- */
.testimonial-mobile-view {
  display: none;
}
.testimonial-section-content {
  width: 100%;
  justify-content: flex-start;
  gap: 60px;
}
.testimonila-trust-client {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.testimonila-trust-client p {
  width: 50%;
  font-size: 90px;
  color: white;
  font-weight: bold;
}
.testimonial-card-one {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
.testimonial-test {
  color: white;
  max-width: 400px;
  width: 100%;
}
.testimonial-test p {
  font-size: 25px;
  font-family: virat;
}
@media (max-width: 700px) {
  .image-container-homepage img {
    object-fit: cover;
    height: 600px;
  }
  .homapage-headtext {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .homepage-headtext-p {
    font-size: 40px;
  }
  .about-us-section .about-background-img {
    height: 700px;
    object-fit: cover;
  }
  .about-content-part {
    gap: 80px;
    flex-direction: column;
  }
  .about-section-content,
  .testimonial-section-content {
    padding: 20px 20px;
  }
  .about-section-content {
    justify-content: space-between;
  }
  .about-content-heading {
    position: relative;
    width: 70%;
    font-size: 60px;
  }
  .about-content-heading::after {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 0%;
    width: 42%;
    height: 2px;
    background-color: white;
  }
  .about-content-text p {
    width: auto;
  }
  .about-us-button {
    display: none;
  }
  .transpirant {
    display: none;
  }
  .our-services-headings-part {
    flex-direction: column;
    gap: 30px;
  }
  .our-services-headings-part div {
    width: 100%;
  }
  .our-services-section {
    gap: 50px;
  }
  .service-brand-scroller {
    flex-direction: column;
    gap: 30px;
  }
  .testimonial-section-content {
    gap: 20px;
  }
  .testimonila-trust-client {
    justify-content: flex-start;
  }
  .testimonila-trust-client p {
    width: 100%;
    font-size: 60px;
  }
  .testimonial-card-one {
    display: none;
  }
  .testimonial-mobile-view {
    display: flex;
    overflow-x: auto;
    gap: 50px;
    white-space: nowrap;

    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */

    /* For WebKit browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  .testimonila-section .about-background-img {
    height: 700px;
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  .homapage-headtext {
    padding: 10px;
  }
  .homepage-headtext-p {
    font-size: 30px;
  }
  .about-us-section {
    margin: 30px 0;
  }
  .about-content-heading {
    width: 100%;
  }
  .our-services-section {
    margin: 40px 10px;
  }
  .out-service-content {
    gap: 15px;
  }
  .out-service-content .service-content-heading {
    font-size: 55px;
  }
  .out-service-content p {
    font-size: 15px;
  }
  .brand-scroller-head {
    font-size: 55px;
  }
  .testimonila-section {
    margin: 100px 0;
  }
  .testimonila-trust-client p {
    font-size: 50px;
  }
  .testimonial-mobile-view {
    gap: 25px;
  }
}
