.navbar-container {
  position: relative;
  z-index: 100;
}

@font-face {
  font-family: virat;
  src: url(../../public/fonts/zacbelx-extrabold.ttf);
}

.navbar-menu {
  padding: 0 100px;
  padding-top: 30px;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-family: virat;
  font-weight: bold;
}
.navbar-menu p {
  cursor: pointer;
  z-index: 200;
  opacity: 1;
  transition: opacity 0.3s ease; /* Add a smooth transition for opacity */
}

.navbar-menu p.hidden {
  opacity: 0;
}
.navbar-menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 0.1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar-icon-open {
  font-size: 20px;
  cursor: pointer;
  z-index: 200;
  transition: transform 0.3s ease; /* Add a smooth transition for the rotation */
}

.rotate {
  transform: rotate(180deg); /* Rotate the icon when the drawer is open */
}
.drawer-overlay {
  position: fixed;
  max-width: 400px;
  top: 0;
  left: -100%; /* Set initial position to -100% */
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, #7a2a10 30%, #d9d9d9);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  opacity: 0;
  transition: left 0.5s ease, opacity 0.5s ease;
}

.drawer-content {
  width: 40%;
  background-color: white;
  padding: 20px;
  position: relative;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.drawer-overlay.open {
  opacity: 1;
  left: 0; /* Set the final position to 0% */
}

.drawer-content.open {
  opacity: 1;
}

.drawer-content.closed {
  opacity: 0;
}
