.navbar-container {
  position: relative;
  z-index: 100;
}

@font-face {
  font-family: virat;
  src: url(../../public/fonts/zacbelx-extrabold.ttf);
}

.navbar-menu {
  margin-top: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 95%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 10px);
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-family: virat;
  font-weight: bold;
  border: 0.5px solid #afafaf;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.06) 0.02%,
    rgba(255, 255, 255, 0) 109.38%
  );
  box-shadow: -57.833px 57.833px 57.833px 0px rgba(255, 255, 255, 0.14) inset,
    57.833px -57.833px 57.833px 0px rgba(194, 194, 194, 0.14) inset;
  backdrop-filter: blur(56.676666259765625px);
}
.navbar-menu div{
  display: flex;
  gap: 10px;
}
.navbar-menu p {
  cursor: pointer;
  z-index: 200;
  opacity: 1;
  transition: opacity 0.3s ease; /* Add a smooth transition for opacity */
}
.logo{
  width: 142.222px;
height: 80px;
flex-shrink: 0;
}
.navbar-menu p.hidden {
  opacity: 0;
}
.navbar-menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 0.1px;
  background-color: #afafaf;
}

.navbar-icon-open {
  font-size: 20px;
  cursor: pointer;
  z-index: 200;
  transition: transform 0.3s ease; /* Add a smooth transition for the rotation */
}

.rotate {
  transform: rotate(180deg); /* Rotate the icon when the drawer is open */
}
.drawer-overlay {
  position: fixed;
  max-width: 400px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    332deg,
    rgba(108, 26, 0, 0.44) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  backdrop-filter: blur(77.42933654785156px);
  display: flex;
  z-index: -1;
  opacity: 0;
  transition: left 0.5s ease, opacity 0.5s ease;
}

.drawer-content {
  position: relative;
  transition: transform 0.5s ease, opacity 0.5s ease;
  padding: 140px 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 40px;
}
.drawer-content a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  line-height: 18.548px; /* 38.642% */
  letter-spacing: -0.528px;
  opacity: 0.55;
  display: flex;
  gap: 40px;
}
.selected {
  opacity: 1 !important;
}
.drawer-overlay.open {
  opacity: 1;
  right: 0; /* Set the final position to 0% */
}

.drawer-content.open {
  opacity: 1;
}

.line-indication {
  height: 316%;
  width: 2px;
  background: rgba(255, 255, 255, 0.7);
}
.selected-line {
  background-color: #fff !important;
}

/* ---- card style ---- */

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-color: #f3f3f3;
  flex-grow: 1;
}
.card-wrapper {
  max-width: 450px;
  width: 100%;
}
.heading-card {
  font-size: 30px;
  font-weight: bold;
}
.disc-card {
  font-family: virat;
}
.card-button {
  float: right;
}
.card-wrapper div {
  float: right;
}
.button-for-landing {
  display: flex;
  width: 234px;
  height: 59px;
  padding: 0px 40px;
  justify-content: center;
  align-items: center;
  background-color: #9dabb366;
  color: #000000;
  font-weight: bold;
  font-family: virat;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 92% 100%, 0% 100%, 0% 50%);
}
.button-for-landing-two {
  background: rgba(255, 255, 255, 0.4);
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  line-height: 100%; /* 18px */
  font-family: virat;
}
@media (max-width: 768px) {
  .card-wrapper {
    max-width: 100%;
  }
}

/* ---- Image Carasoul ---- */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.slider {
  height: 110px;
  overflow: hidden;
  position: relative;
}

.slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

.slider .slide img {
  width: 80%;
  height: 100px;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/* ---- Testimonial ---- */

.testimonial-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  gap: 50px;
  max-width: 400px;
  width: 100%;
}
.testimonial-card img {
  width: 100px;
  height: 100px;
}
.testimonial-name {
  font-family: virat;
  color: #f75825;
  font-size: 32px;
  font-style: normal;
  line-height: 40px; /* 125% */
  letter-spacing: -0.352px;
}
.testimonial-name span {
  color: #000;
  font-size: 24px;
  font-style: normal;
  line-height: 40px; /* 166.667% */
  letter-spacing: -0.264px;
}
.testimonila-disc {
  color: #000;
  font-family: virat;
  font-size: 20px;
  font-style: normal;
  line-height: 40px; /* 200% */
}

/* ---- Footer Styling ---- */
.footer-wrapper {
  width: 100%;
  position: relative;
}
.footer-wrapper .footer-background {
  width: 100%;
  height: 1030px;
}
.footer-content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  font-family: virat;
  padding: 0 50px;
  padding-top: 100px;
}
.footer-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.logo-name-div {
  position: absolute;
  top: 120%;
  margin: 0;
  padding: 0;
}
.virat-logo-name {
  color: rgba(255, 255, 255, 0.1);
  font-size: 350px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 11.429% */
  letter-spacing: 24.5px;
  user-select: none;
}
.footer-get-in-touch {
  position: relative;
  color: rgba(255, 255, 255, 0.85);
  font-family: Bw Gradual DEMO;
  font-size: 108px;
  font-style: normal;
  font-weight: 700;
  line-height: 119px; /* 110.185% */
  letter-spacing: -1.188px;
}
.footer-get-in-touch::after {
  content: "";
  position: absolute;
  bottom: -10%;
  right: 16%;
  width: 42%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.85);
}
.footer-disc {
  color: #fff;
  font-family: virat;
  font-size: 24px;
  font-style: normal;
  line-height: 40px; /* 166.667% */
  letter-spacing: -0.264px;
}
.footer-download {
  background-color: transparent;
  border: 2px solid white;
  align-self: start;
  padding: 20px 60px;
  border-radius: 100px;
  display: flex;
  gap: 5px;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
}
.footer-download-icon {
  align-self: center;
}
.footer-right {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: self-end;
  padding-right: 100px;
  gap: 50px;
}
.footer-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.footercom {
  width: 420px;
  display: flex;
  padding: 20px 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.827);
  align-items: flex-start;
  justify-content: space-between;
}
.footercom-name {
  font-size: 30px;
  margin-left: 20px;
}
.footercom-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.827);
  border-radius: 50%;
  align-self: self-end;
  padding: 5px;
  cursor: pointer;
}
.footercom-iamge {
  height: 100px;
  width: 100px;
}
.footercom-icon {
  font-size: 70px;
  color: rgba(255, 255, 255, 0.827);
}
.footer-social {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
}
.socialmedia-head {
  font-weight: bold;
  font-size: 24px;
}
.socialmedia-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
.socialmedia-icons p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  color: green;
  cursor: pointer;
}
.socialmedia-icons p:first-child {
  color: blue;
}
@media (max-width: 700px) {
  .card-wrapper {
    height: 650px;
  }
  .wrapper {
    width: 100%;
  }
  .testimonial-card {
    gap: 25px;
    height: 420px;
  }
  .testimonila-disc {
    font-size: 15px;
    font-family: virat;
    line-height: 20px;
    white-space: initial;
  }
  .testimonial-name {
    width: 330px;
  }
  .footer-wrapper .footer-background {
    height: 700px;
  }
  .footer-content {
    padding: 0 10px;
    padding-top: 30px;
    flex-direction: column;
    gap: 50px;
  }
  .footer-left {
    width: 100%;
    gap: 20px;
  }
  .footer-disc {
    font-size: 15px;
  }
  .footer-download {
    font-size: 15px;
    padding: 15px 40px;
  }
  .footer-get-in-touch {
    font-size: 55px;
  }
  .footer-get-in-touch::after {
    content: "";
    position: absolute;
    bottom: -10%;
    right: 42%;
    width: 30%;
    height: 2px;
    background-color: white;
  }
  .footer-right {
    width: 100%;
    padding: 0px;
    align-items: flex-start;
  }
  .footer-box {
    width: 100%;
    flex-direction: row;
    gap: 20px;
  }
  .footercom {
    padding: 10px 15px;
    width: 50%;
  }
  .footercom-name {
    font-size: 15px;
  }
  .footercom-icon {
    font-size: 50px;
  }
  .virat-logo-name {
    font-size: 100px;
    letter-spacing: 4px;
  }
  .logo-name-div {
    top: 120%;
  }
}
@media (max-width: 500px) {
  .card-wrapper {
    height: 520px;
    padding: 10px;
  }
  .heading-card {
    font-size: 25px;
  }
  .disc-card {
    font-size: 15px;
  }
  .testimonial-name {
    width: 260px;
  }
  .testimonial-card {
    padding: 20px;
    height: auto;
  }
  .navbar-menu {
    padding: 0 40px;
    padding-top: 30px;
  }
  .footer-disc {
    font-size: 11px;
    line-height: 15px;
  }
  .footer-get-in-touch {
    font-size: 45px;
  }
  .footer-get-in-touch::after {
    content: "";
    position: absolute;
    bottom: 20%;
    right: 30%;
    width: 35%;
    height: 2px;
    background-color: white;
  }
  .footer-box {
    flex-direction: column;
    align-items: center;
  }
  .footercom {
    width: 270px;
  }
  .footer-wrapper .footer-background {
    height: 1030px;
  }
  .testimonial-card img {
    width: 68px;
    height: 68px;
  }
}
